<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
     <%= time_ago_in_words(micropost.created_at) %>前に投稿
    <% if current_user?(micropost.user) %>
      <%= link_to "削除する", micropost, method: :delete,
                                       data: { confirm: "削除して大丈夫???" } %>
    <% end %>
  </span>
</li>