<header class="navbar navbar-fixed-top navbar-inverse" style="background-color:#0F0">
  
  <div class="container">
    <%= link_to "3日坊主な人のためのシンプルtodoタスク管理", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
       <li><%= link_to "ホーム", root_path ,id: "menu" %></li>
        
        
        <% if logged_in? %>
         
           <li><%= link_to "ユーザー一覧", users_path ,id:"menu" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style = background-color:#0F0 id= "menu">
             アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style = background-color:#0F0>
              <li><%= link_to "プロフィール", current_user ,id:"menu1" %></li>
              <li><%= link_to "設定", edit_user_path(current_user) ,id:"menu1" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete ,id:"menu1"%>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path ,id:"menu" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>